@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
background-color: #F9F9F9;
}
.container {
  text-align: center;
  margin-top: 2rem;
}
.grading-system, .session, .course-grades{
  margin: 1.5rem;
}
input{
  outline: none;
}
.academic-result h3 {
  margin-top: 1rem;
}
.session{
  margin-top: 1.1rem;
}
.courses{
  margin-top: 1.5rem;
}
#create, #reset, #submit{
  margin-top: 1rem;
  font-size: .8rem;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: bolder;
  color: #ffffff;
  background: #023bf5;
  width: 100px;
  border-radius: 5px;
  border: none;
  padding: .3rem;
}
#create span {
  font-size: .87rem;
  margin-right: .3rem;
}
#submit span {
  font-size: .87rem;
  margin-right: .3rem;
}
#reset span {
  font-size: .87rem;
  margin-right: .3rem;
}
#reset {
  margin-bottom: 2rem;
}